@model Vodad.Models.AddMerchantAccountModel

@{
    ViewBag.Title = "Add merchant account";
}

<h2>Add merchant account for @ViewBag.Merchant</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Profile Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Account)<br />
                @Html.TextBoxFor(m => m.Account)
                @Html.HiddenFor(m => m.MerchantId, new {@Value = ViewBag.MerchantId})
                @Html.HiddenFor(m => m.UserId, new {@Value = ViewBag.UserId})
                @Html.HiddenFor(m => m.Merchant, new {@Value = ViewBag.Merchant})
            </li>
        </ol>
        <input type="submit" value="Add account" class="button" />
    </fieldset>   
}
